.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
}

.form {
  width: 350px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.form .logo {
  display: flex;
  justify-content: center;
}

.form h1 {
  text-align: center;
}

.form .warning {
  color: red;
  font-size: 0.8rem;
}

.btn {
  width: 100%;
  height: 3em;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: #4840BB;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #4840bbe1;
}

.btn:active {
  transform: scale(0.99);
}